.about {
  font-family: 'Inter', sans-serif;
  color: #E0E0E0; 
  background-color: #121212; 
  padding: 3rem;
  line-height: 1.6;
  padding-left: 25vw;
  padding-right: 20vw;
  padding-top: 3rem;
}

.titlemain {
  font-weight: 800; 
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #FFFFFF;
}
  
.section {
  margin-top: 2rem;
  background-color: #1E1E1E; 
  border-radius: 8px;
  padding: 1rem;
}
  
.section h2 {
  color: #FFFFFF;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.lili {
  color: #E0E0E0;
  padding: 0.5rem 0;
}
.contact {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #333; 
  border-bottom: 1px solid #333; 
}

.contact p, .section p, .section ul {
  color: #E0E0E0;
}

.contact a, .links a {
  color: #76B900; 
  text-decoration: none;
}
.contact a:hover, .links a:hover {
  text-decoration: underline;
}
.h3 {
  font-size: 1.5rem;
  font-weight: 600; 
}
  .timeline-empty, .timeline-middle {
    background-color: #ddd;
    height: 20px;
    width: 100%;
    margin: 0.5rem 0;
  }
  
  .timeline-circle {
    background-color: #bbb;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: auto;
  }
  .lili{
    padding: 0.5rem;
  }
  .contact{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .h3{
    font-size: 1.5rem;
  }

  .profileCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
.avatarWrapper {
  margin-right: 20px;
  width: 30%;
  padding-left: 10%;
}

.avatar {
  border-radius: 50%;
  
}

.pfp {
  max-width: 160%;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  font-family: 'Arial', sans-serif; 
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.title, .company {
  font-size: 1.5rem;
  color: #BDBDBD; 
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; 
  padding-top: 1rem; 
  width: 100%; 
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.socialLinks a {
  color: #E0E0E0; 
}

.socialLinks a:hover {
  color: #76B900; 
}

.icon {
  font-size: 2rem;
}


@media (max-width: 768px) {
  .profileCard {
    flex-direction: column;
    align-items: center; /* Center-align the items when in column layout */
  }

  .avatarWrapper {
    width: auto; /* Reset any specific width */
    padding-left: 0; /* Remove additional padding if it was added */
    margin-right: 0; /* Reset margin if it was added */
    margin-bottom: 20px; /* Add some space between the avatar and the info */
  }

  .pfp {
    max-width: 100%; /* Adjust the max-width to fit the container */
  }

  .info {
    align-items: center; /* Align text and icons in the center for smaller screens */
  }

  .socialLinks {
    justify-content: center; /* Ensure social links are centered below the text */
  }
}