.projectss {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 3rem;
}
.heading, .subheading {
  font-weight: 600;
  font-size: 2rem; 
  color: #FFFFFF;
  margin-bottom: 2rem;
  text-align: center;
}

.subheading {
  font-size: 1.2rem;
  opacity: 0.8;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  gap: 2rem; 
  place-items: center;
  align-items: stretch;
  width: 100%;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  border: none; 
  border-radius: 15px; 
  overflow: hidden;
  background-color: #2B2B2B;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); 
}

.image {
  width: 100%;
  object-fit: cover;
}

.title {
  margin-top: 1rem; 
  font-size: 1.4rem;
}

.description {
  text-align: center;
  padding: 0.5rem 1rem; 
  color: #CCCCCC;
  font-size: 1rem;
}

.button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 20px; 
  cursor: pointer;
  margin: 1rem 0; 
  width: auto; 
  font-size: 1rem; 
  font-weight: 500; 
}

.button:hover {
  background-color: #0056b3; 
}

.scrollPrompt {
  animation: fadeIn 1.5s ease-in-out infinite; 
}

@keyframes fadeIn {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

  
  .scrollPrompt {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  
  .scrollArrow {
    color: #fff;
    font-size: 24px;
    animation: scrollAnimation 2s infinite;
  }
  
  .scrollText {
    color: #fff;
    font-size: 30px;
    animation: scrollAnimation 2s infinite;
  }
  
  @keyframes scrollAnimation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(40px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    .container{
      grid-template-columns:repeat(auto-fill, minmax(150px, 1fr)); 
    }
  }